SUPABASE_URL=https://jjwvbnmysabqbdyjlfye.supabase.co
SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

APP_ENV=development
APP_VERSION=0.1.0

HOST=0.0.0.0
PORT=8005
